<%- include ./headerAdmin.ejs%>

    <center>
        <h2>Halo admin <%=name%>!</h2>
        <h3>Miaw Miaw!</h3>
        
        <br>
        
        <img src="/1c77a39ff7dc65e2dc028d289760bbdf" width="90%">
    </center>
<%- include ./footerAdmin.ejs%>  
