<%- include ./headerAdmin.ejs%>

    <center>
        <h2>Halo admin <%=name%>!</h2>
        <h3>Miaw Miaw!</h3>
        
        <br>
        
        <img src="https://kucingpedia.com/wp-content/uploads/2016/06/Gambar-Kucing-Gemuk-Lucu-1024x682.jpg" width="90%">
    </center>
<%- include ./footerAdmin.ejs%>  
