<% for (let i = 0; i < info.length; i++) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= info[i]%></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
<%}%>