<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../style/style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
      }
      
      body {
        background: #9CECFB;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      
      .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      }
      
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }
      
      .card-signin .card-body {
        padding: 2rem;
      }
      
      .form-signin {
        width: 100%;
      }
      
      .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
      }
      
      .form-label-group {
        position: relative;
        margin-bottom: 1rem;
      }
      
      .form-label-group input {
        border-radius: 2rem;
      }
      
      .form-label-group>input,
      .form-label-group>label {
        padding: var(--input-padding-y) var(--input-padding-x);
      }
      
      .form-label-group>label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
      }
      
      .form-label-group input::-webkit-input-placeholder {
        color: transparent;
      }
      
      .form-label-group input:-ms-input-placeholder {
        color: transparent;
      }
      
      .form-label-group input::-ms-input-placeholder {
        color: transparent;
      }
      
      .form-label-group input::-moz-placeholder {
        color: transparent;
      }
      
      .form-label-group input::placeholder {
        color: transparent;
      }
      
      .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
      }
      
      .form-label-group input:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
      }
      
      .btn-google {
        color: white;
        background-color: #ea4335;
      }
      
      .btn-facebook {
        color: white;
        background-color: #3b5998;
      }
    </style>
    <title><%=title%></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="/">Home</a>
        <%if (userLogin) { %>
          <a class="navbar-brand" href="/cat">Find Cat</a>
        <%}%>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            
          </ul>


          <form class="form-inline my-2 my-lg-0">
              <div class="form-inline">

                <%if (userLogin) { %>
                  <a href="/logout" class="btn btn-danger" type="button">Logout</a>
                  <%} else { %>
                    <a href="/login" class="btn btn-primary" type="button">Login</a>
                    <a href="/register" class="btn btn-success" type="button">Register</a>
                <%}%>
              </div>
              <!-- <button class="btn btn-success">test</button> -->
              <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
        </div>
      </nav>
    <div class="container rounded" style="background: #e5e7ea;margin-top: 5vh; width:1080px; min-height: 500px; padding-top: 5vh;padding-bottom: 5vh">

            