<%- include ../../partials/header.ejs %>

<div class="row">
    <div class="col-md-12">
        <h2>Proses Checkout berhasil</h2>
        <hr>
        <center>
            <h4>Terima kasih <%=userLogin.name%><br>
            Untuk melanjutkan proses silahkan melakukan transfer ke : <br><br>

            <img src="https://www.pusatbahankimia.com/wp-content/uploads/2016/03/logo-BCA.png" width="180vh"><br>
            <b>1122 3344 5566 7788</b>
            </h4>
        </center>
    </div>
</div>

<%- include ../../partials/footer.ejs %>